* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #292929;
}

#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    font-family: 'Bangers', cursive;
}

#laserBlue01, #shield, #fireExplosion, #smokeExplosion1, #smokeExplosion2, #smokeExplosion3, #background, #start-screen, #background1, #background2, #background3, #background4, #playerShip1, #playerShip2, #playerShip3, #playerShip4, #enemy1, #enemy2, #enemy3, #enemy4, #meteorBrown1, #meteorBrown2, #meteorGrey1, #boltGold {
    display: none;
}  
#background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  #play_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 15px;
    background-color: #6eb800;
    color: #fff;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-image: linear-gradient(to bottom, #4bb543, #3f9d2f);

    
    /* Add the following styles */
    display: inline-block;
  }
  
  #howto_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 15px;
    background-color: #ddb103;
    color: #fff;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-image: linear-gradient(to bottom, #0077c2, #005ea6);
  
    /* Add the following styles */
    display: inline-block;
    margin-left: 150px;
  }

  #score_button {
    position: absolute;
    top: 50%;
    left: 50%; /* Change this to 61% */
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 15px;
    background-color: #ddb103;
    color: #fff;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-image: linear-gradient(to bottom, #ff9800, #f57c00);
  
    /* Add the following styles */
    display: inline-block;
    margin-left: -140px;
  }
  
#score_button:hover {
    transform: translate(-50%, -55%);
    background-image: linear-gradient(to bottom, #fb8c00, #ef6c00);
    box-shadow: 0 5px 8px rgba(0,0,0,0.6);
  } 

#play_button:hover {
  transform: translate(-50%, -55%);
  background-image: linear-gradient(to bottom, #43a047, #388e3c);
  box-shadow: 0 8px 12px rgba(0,0,0,0.6);
}

#howto_button:hover {
  transform: translate(-50%, -55%);
  background-image: linear-gradient(to bottom, #0069c0, #004b8f);
  box-shadow: 0 8px 12px rgba(0,0,0,0.6);
}  