@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/font/FeVQS0BTqb0h60ACL5k.ttf') format('truetype');
}

img {
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #292929;
  font-family: 'Bangers', cursive;
}

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#gameName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 10px 20px;
  font-size: 90px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 15px;
  background-color: transparent;
  color: #fff;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  margin-top: -20px;
  white-space: nowrap;
}

#play_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 10px 30px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 15px;
  background-color: #6eb800;
  color: #fff;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-image: linear-gradient(to bottom, #4bb543, #3f9d2f);

  display: inline-block;
  margin-top: 100px;
}

#play_button:hover {
  transform: translate(-50%, -55%);
  background-image: linear-gradient(to bottom, #43a047, #388e3c);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}

#home_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 10px 10px;
  text-transform: uppercase;
  border-radius: 15px;
  background-color: #6eb800;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-image: linear-gradient(to bottom, #4bb543, #3f9d2f);

  display: inline-block;
  margin-top: 100px;
  margin-left: -50px;
}

#home_button:hover {
  transform: translate(-50%, -55%);
  background-image: linear-gradient(to bottom, #43a047, #388e3c);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}

#retry_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 10px 10px;
  text-transform: uppercase;
  border-radius: 15px;
  background-color: #ddb103;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-image: linear-gradient(to bottom, #0077c2, #005ea6);

  display: inline-block;
  margin-top: 100px;
  margin-left: 50px;
}

#retry_button:hover {
  transform: translate(-50%, -55%);
  background-image: linear-gradient(to bottom, #0069c0, #004b8f);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}

#howto_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 15px;
  background-color: #ddb103;
  color: #fff;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-image: linear-gradient(to bottom, #0077c2, #005ea6);

  display: inline-block;
  margin-left: 160px;
  margin-top: 100px;
  white-space: nowrap;
}

#howto_button:hover {
  transform: translate(-50%, -55%);
  background-image: linear-gradient(to bottom, #0069c0, #004b8f);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
}

#score_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 15px;
  background-color: #ddb103;
  color: #fff;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-image: linear-gradient(to bottom, #ff9800, #f57c00);

  display: inline-block;
  margin-left: -160px;
  margin-top: 100px;
}

#score_button:hover {
  transform: translate(-50%, -55%);
  background-image: linear-gradient(to bottom, #fb8c00, #ef6c00);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6);
}

#howtoback_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 15px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-image: linear-gradient(to bottom, #ff4d4d, #d50000);

  display: inline-block;
  margin-top: 200px;
}

#howtoback_button:hover {
  transform: translate(-50%, -55%);
  background-image: linear-gradient(to bottom, #ff3333, #c70000);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6);
}

#howto_image,
#home_button,
#retry_button,
#gameName,
#play_button,
#howto_button,
#score_button,
#howtoback_button,
#laserBlue01,
#shield,
#fireExplosion,
#smokeExplosion1,
#smokeExplosion2,
#smokeExplosion3,
#background,
#start-screen,
#background_empty,
#playerShip1,
#playerShip2,
#playerShip3,
#playerShip4,
#enemy1,
#enemy2,
#enemy3,
#enemy4,
#meteorBrown1,
#meteorBrown2,
#meteorGrey1,
#boltGold {
  display: none;
}

/* Media query for smaller screens */
@media only screen and (max-width: 790px) {
  #gameName {
    font-size: 40px;
    margin-top: -10px;
  }

  #play_button {
    font-size: 20px;
    margin-top: 50px;
    padding: 5px 20px;
    border-radius: 10px;
  }

  #howtoback_button {
    font-size: 20px;
    margin-top: 100px;
    padding: 5px 20px;
    border-radius: 10px;
  }

  #howto_button {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 110px;
    padding: 5px 20px;
    border-radius: 10px;
  }

  #score_button {
    font-size: 20px;
    margin-top: 50px;
    margin-left: -105px;
    padding: 5px 20px;
    border-radius: 10px;
  }
}